extends layout 
 
block content 
  h1= title 
 
  form(id='houseForm', action="/resource/house", method="POST") 
    div.form-group 
        label.houseAttr(for='house_name') house_name
        input#house_name(type='text', name='house_name') 
    div.form-group 
        label.houseAttr(for='Location') Location
        input#Location(type='text', name='Location') 
    div.form-group 
        label.houseAttr(for='house_number') house_number
        input#house_number(type='number', name='house_number') 
    input(type="submit") 
 
  script. 
    document.forms['houseForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 